* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
    
:root {
    --cor01: #332FFA;
    --cor02: #2F6CFA;
    --cor03: #009BFA;
    --cor04: #2FACFA;
    --cor05: #2FECFA;
    --cor06: #20FAC0;
    --cor07: #00C7FF;
    --cor08: #0093C4;
    
    
        --fonte01: "Poppins", sans-serif;
}


body {
    background-color: #131313;
}   

.caixa-principal {
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/FOTOPROGRAMACAO2.png);
    background-size: 460px;
    background-position: calc(100% - 300px) center;
    background-repeat: no-repeat;
    background-color: #131313;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 305px 0px 180px   ;
}

.portfolio {
    color: white;
    font-size: 40px;
    font-weight: 1000;
}

.portfolio span {
    color: var(--cor07)
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 28px;
    font-weight: 1000;
    margin-left: 30px;
    cursor: pointer;
}

li:hover {
    color: var(--cor08);
    transition: 0.5s;
    
}

.nome {
    position: absolute;
    top: 45%;
    left: 15%;
    font-weight: 1000;
    font-size: 45px;
    
}

.nome>h1 {
    color: white;
}

.nome>h1 span {
    color: var(--cor07);
}

.nome>h3 {
    color: white;
    font-size: 35px;
}

.nome>h3 span {
  color: white;
}

section.sobre {
    
    margin: 40px 200px 275px 200px;
    
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    padding: 60px 8%;
    background-color: #00000094;
    box-shadow: 6px 7px 5px rgba(0, 0, 0, 0.514);
    
}

.sobre img {
    border-radius: 100%;
    border: 0.1px solid white;
    width: 400px;
    margin-right: 70px;
}

div h2 {
    color: white;
    font-size: 75px;
    font-weight: 800;
    text-align: center;
}

section.sobre div p {
    text-align: left;
    color: rgb(155, 209, 209);
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 40px 0;
    justify-content: stretch;
}

section.sobre div button {
    font-weight: 1000;
    font-size: 21px;
    color: whitesmoke;
    background: var(--cor07);
    height: 60px;
    width: 160px;
    border-radius: 20px;
    border: none;
}

.sobre button:hover {
    background-color: transparent;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    border: 1.5px solid var(--cor08);
}

.projetos {
    background-color: #131313;
    
}

.projetos h2 {
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: 800;
   

}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}

.card {
    background-color: #00000094;
    width: 335px;
    height: 365px;
    border-radius: 30px;
    padding: 20px 35px;
    text-align: center;
    box-shadow: 6px 7px 5px rgba(0, 0, 0, 0.514);
    
}

.card h5 {
    font-weight: 800;
    font-size: 20px;
    color: white;
    
}

.card p {
    color: rgb(155, 209, 209);
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 27px;
}

.card img {
    
    height: 100px;
}

.card a {
    padding: 10px 15px;
    font-weight: 1000;
    font-size: 14px;
    color: whitesmoke;
    background: var(--cor07);
    height: 50px;
    width: 170px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    

    transition: 0.3s;
    cursor: pointer;
    border: 1.8px solid var(--cor08);
}

